{
	"extends": "airbnb-base/legacy",
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module"
	},
	"env": {
		"es6": true
	},
	"rules": {
		"linebreak-style": [
			"error",
			"windows"
		]
	}
}