{
	"extends": "airbnb-base/legacy",
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module"
	},
	"env": {
		"es6": true,
		"node": true,
		"mocha": true
	},
	"rules": {
		"linebreak-style": [
			"error",
			"windows"
		]
	}
}